@{
    ViewData["Title"] = "Intern";
}

<h1>Intern Ally</h1>
<br />
<h3><a asp-controller="Home" asp-action="InternsView">View list of Interns</a></h3>
<br />
<h3><a asp-controller="Home" asp-action="">View list of Recruiters</a></h3>
